@import "./bootstrap/bootstrap.less";


// there appears to be a bootstrap bug here
.glyphicon-plus:before {
  content: "+";
}

//globals

body, html, #content, .mapPage, #map, .leaflet-container {
  width: 100%;
  height: 100%;
}

body {
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: large;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

// header

.navbar {
  .navbar-collapse {
    overflow: hidden;
  }
}

.nav {
  text-align: right;
}

// notifications

.notification {

  //color
  background: gray;
  color: white;
  opacity: .66;

  //position
  position: fixed;
  top: calc(100% - 8em);
  left: 50%;
  transform: translate(-50%, -50%);

  //shape
  height: 2.5em;
  width: 90%;
  padding: .5em 1em .25em 1em;
  border-radius: 1em;

  //text
  text-align: center;
  text-shadow: .05em .05em black;
}

// display

@DISPLAY_OFFSET: 2.8em;

#display {
  position: absolute;
  width: 100%;
  height: calc(100% - 3*@DISPLAY_OFFSET);
  top: @DISPLAY_OFFSET;
}

.menuItem {
  text-align: right;
}

// go button

@GO_RADIUS: 110px;
@GO_DIAMETER: 220px;

.goButton {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -@GO_RADIUS;
  margin-left: -@GO_RADIUS;
}

// map

.clearButton {
  position: relative;
  padding: 0;
  top: -3em;
  left: 0.5em;
  width: 2em;
  height: 2em;
}
